services:
  migrate:
    build:
      context: .
      args:
        PORT: ${PORT}
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .:/app
      - /app/node_modules
    command: sh -c "npx prisma migrate dev --name init --skip-seed"
    restart: "no"

  seed:
    build:
      context: .
      args:
        PORT: ${PORT}
    env_file:
      - .env
    depends_on:
      migrate:
        condition: service_completed_successfully
      db:
        condition: service_healthy
    volumes:
      - .:/app
      - /app/node_modules
    command: sh -c "npm run seed"
    restart: "no"

  api:
    build:
      context: .
      args:
        PORT: ${PORT}
    ports:
      - "${PORT}:${PORT}"
    env_file:
      - .env
    environment:
      CHOKIDAR_USEPOLLING: ${CHOKIDAR_USEPOLLING:-true}
      CHOKIDAR_INTERVAL: ${CHOKIDAR_INTERVAL:-1000}
    depends_on:
      migrate:
        condition: service_completed_successfully
      seed:
        condition: service_completed_successfully
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
      mongo:
        condition: service_started
    volumes:
      - .:/app
      - /app/node_modules
    command: sh -c "npm run dev"

  worker-email:
    build:
      context: .
      args:
        PORT: ${PORT}
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
      mongo:
        condition: service_started
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run worker:email

  db:
    image: postgres:16-alpine
    ports:
      - "${DB_PORT:-5432}:5432"
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d app_db"]
      interval: 5s
      timeout: 5s
      retries: 10

  redis:
    image: redis:7-alpine
    ports:
      - "${REDIS_PORT:-6379}:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 10

  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongodata:/data/db

  mailpit:
    image: axllent/mailpit:latest
    ports:
      - "${MAILPIT_UI_PORT:-8025}:8025"
      - "${SMTP_PORT:-1025}:1025"

volumes:
  pgdata:
  mongodata: