services:
  api:
    build: .
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      CHOKIDAR_USEPOLLING: "true"
      CHOKIDAR_INTERVAL: "1000"
      DATABASE_URL: postgresql://postgres:${DB_PASSWORD}@db:5432/app_db
      NODE_ENV: development
      PORT: 3000
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: app_db
      REDIS_HOST: redis
      REDIS_PORT: 6379
      SMTP_HOST: mailpit
      SMTP_PORT: 1025
      MAIL_FROM: "no-reply@cycup.local"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - .:/app
      - /app/node_modules
    command: sh -c "npx prisma migrate dev --name init && npm run dev"

  worker-email:
    build: .
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql://postgres:${DB_PASSWORD}@db:5432/app_db
      NODE_ENV: development
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: app_db
      REDIS_HOST: redis
      REDIS_PORT: 6379
      SMTP_HOST: mailpit
      SMTP_PORT: 1025
      MAIL_FROM: "no-reply@cycup.local"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run worker:email

  db:
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: app_db
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d app_db"]
      interval: 5s
      timeout: 5s
      retries: 10

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 10

  mailpit:
    image: axllent/mailpit:latest
    ports:
      - "8025:8025"
      - "1025:1025"

volumes:
  pgdata: